	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Descricao</th>
				<th>Quantidade</th>
				<th>Preco</th>
			</tr>
		</thead>		
		<tbody>
			<% @produtos_nome.each do |produto| %>
			<tr>
				<td><%= produto.nome %></td>
				<td><%= produto.descricao %></td>
				<td><%= produto.quantidade %></td>
				<td><%= produto.preco %></td>
				<td>
					<%= button_to "Delete", produto, 
						method: :delete,
						class: "btn btn-danger", 
						data: {confirm: "Confirma a exclusão de: #{produto.nome}?"} %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<br>
	<br>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Descricao</th>
				<th>Quantidade</th>
				<th>Preco</th>
			</tr>
		</thead>		
		<tbody>
			<% @produtos_descricao.each do |produto| %>
			<tr>
				<td><%= produto.nome %></td>
				<td><%= produto.descricao %></td>
				<td><%= produto.quantidade %></td>
				<td><%= produto.preco %></td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<%= link_to "Novo Produto", new_produto_path, class: "btn btn-primary" %>
